/* Basic styles */
body {
  font-family: Arial, sans-serif;
  background-image: url(/Images/faq.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: -1;
}
  
h1, h2 {
  margin-bottom: 15px;
  color: #ffffff;
}
  
p {
  line-height: 1.5;
}
  
a {
  color: #ffffff;
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
}
  
/* FAQ section */
.faq-container {
  display: inline-block;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px;
  margin-left: 20vh;
  margin-right: 20vh; /* Center the container horizontally */
}
.faq-question {
  display: grid;
  place-content: center;
  font-weight: bold;
  margin-bottom: 15px;
  background-color: rgb(177, 165, 143);
}
.faq-answer{
  display: grid;
  place-content: center;
  margin-bottom: 15px;
}
  

/* Additional resources and social media sections */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
li {
  margin-bottom: 10px;
}
/* Additional styling options */
h2 {
  color: #ffffff;
}
  
.faq-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-top: 15px;
}
  
.faq-item {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
  
.page_headings{
  text-align: center;
}